<footer class="footer">
    <div class="container">
        <div class="row py-4">
            <div class="col-12 col-lg-2">
                <div class="row">
                    <div class="col-6 col-lg-12 mb-3">
                        <img src="img/logo_dar.svg" alt="">
                    </div>
                    <div class="col-6 col-lg-12 mb-3 mb-lg-0 d-flex align-items-center justify-content-center">
                        <div class="social-block">
                            <a href="#"><img src="img/telegr_logo.svg" alt=""></a>
                            <a href="#"><img src="img/vk_logo.svg" alt=""></a>
                            <a href="#"><img src="img/whatsup_logo.svg" alt=""></a>
                        </div>                            
                    </div>                     
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-2 mb-lg-0">
                <div class="mb-2">г. Москва, г. Санкт-Петербург, г. Магнитогорск</div>
                <div class="mb-2"><a href="mailto:dar@logoakademia.ru">dar@logoakademia.ru</a></div>
                <div class="mb-2"><a href="tel:+74952923260">+7 (495) 292-32-60</a><span>Москва</span></div>
                <div class="mb-2"><a href="tel:+78124096103">+7 (812) 409-61-03</a><span>Санкт-Петербург</span></div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="nav flex-column">
                    <a href="#" class="nav-link">О нас</a>
                    <a href="#" class="nav-link">Программы занятий</a>
                    <a href="#" class="nav-link">Запуск речи</a>
                    <a href="#" class="nav-link">ДАРmed</a>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="nav flex-column">
                    <a href="#" class="nav-link">Логосад</a>
                    <a href="#" class="nav-link">Франшиза</a>
                    <a href="#" class="nav-link">Учебный центр</a>
                    <a href="#" class="nav-link">Контакты</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-4">
                <div class="copyright">© 2012-2022 © ООО «Детская академия речи», медицинские услуги оказывает ООО «Центр речевой неврологии Федора Краминова «ДокторНейро» г. Москва, Рублевское ш.95, к.1</div>
            </div>
        </div>
    </div>
</footer>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
    <div class="offcanvas-body d-flex align-items-center justify-content-center">
        <ul class="nav flex-column offcanvas-menu">
            <li class="nav-item">
                <a class="nav-link" href="programs.html">Программы занятий</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="start-speech.html">Запуск речи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="darmed.html">ДАРмед</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="logosad.html">Логосад</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="franchise.html">Франшиза</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="edu-center.html">Учебный центр</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="price-list.html">Прайс-лист</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#collapse1" data-bs-toggle="collapse">
                    О нас
                </a>
                <div class="collapse" id="collapse1">
                    <ul class="nav flex-column">
                        <li><a class="nav-link" href="about.html">ДАР</a></li>
                        <li><a class="nav-link" href="specialists.html">Специалисты</a></li>
                        <li><a class="nav-link" href="#">Отзывы</a></li>
                        <li><a class="nav-link" href="#">Акции и Новости</a></li>
                        <li><a class="nav-link" href="#">СМИ о нас</a></li>
                        <li><a class="nav-link" href="#">Документы</a></li>
                        

                    </ul>                    
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Контакты</a>
            </li>
        </ul>
    </div>
</div>


<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="videoModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

<script src="js/bootstrap.bundle.min.js"></script>
<script src="scripts/swiper/swiper-bundle.min.js"></script>
<script src="js/main.js?v=4"></script>