<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-2">
                <img src="img/logo_footer.webp" alt="">
            </div>
            <div class="col-12 col-lg-4">
                <div>г. Москва, г. Санкт-Петербург, г. Магнитогорск</div>
                <div><a href="mailto:dar@logoakademia.ru">dar@logoakademia.ru</a></div>
                <div><a href="tel:+74952923260">+7 (495) 292-32-60</a><span>Москва</span></div>
                <div><a href="tel:+78124096103">+7 (812) 409-61-03</a><span>Санкт-Петербург</span></div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="nav">
                    <a href="#" class="nav-link">О нас</a>
                    <a href="#" class="nav-link">Программы занятий</a>
                    <a href="#" class="nav-link">Запуск речи</a>
                    <a href="#" class="nav-link">ДАРmed</a>
                </div>
            </div>
            <div class="col-6 col-lg-3">
                <div class="nav">
                    <a href="#" class="nav-link">Логосад</a>
                    <a href="#" class="nav-link">Франшиза</a>
                    <a href="#" class="nav-link">Учебный центр</a>
                    <a href="#" class="nav-link">Контакты</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div>© 2012-2022 © ООО «Детская академия речи», медицинские услуги оказывает ООО «Центр речевой неврологии Федора Краминова «ДокторНейро» г. Москва, Рублевское ш.95, к.1</div>
            </div>
        </div>
    </div>
</footer>

<script src="js/bootstrap.bundle.min.js"></script>
<script src="scripts/swiper/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>