/* FONTS LOAD SECTION */
@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		src: url($furl) format('woff2');
	}
}

@include font('Pfhandbook', normal, 700, '../fonts/PFHandbookPro-Bold.woff2');
@include font('Avenir', normal, 400, '../fonts/AvenirNextCyr-Regular.woff2');

.container {
    max-width: 1000px;
}

/* variables */
$primary: #612f8c;
$secondary: #d9c3ed;
$dar-gold: #d8de3f;
$dar-pink: #ed1566;
$dar-devider: #8b4dc0;
$dar-bg: #fff5f09e;
$dar-bg2: #fafafa;
$dar-bg3: #EDDFE4;
$dar-gray: #757575;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

:root {
	--primary: #612f8c;
	--secondary: #d9c3ed;
	--dar-gold: #d8de3f;
	--dar-pink: #ed1566;
	--dar-devider: #8b4dc0;
	--dar-bg: #fff5f09e;
	--dar-bg2: #fafafa;
	--dar-bg3: #EDDFE4;
	--dar-gray: #757575;

	--black: #000000;
	--black--rgb: 0, 0, 0;
	--white: #ffffff;
	--white--rgb: 255, 255, 255;
	--red: #dc3545;
	--green: #28a745;
	--bgbody: #ffffff;
	--fontsize: 16px;
	--textcolor: #000;
	--lineheight: 1.2;
	--userfont: 'Avenir';
	--secondfont: serif;
	--transition: .3s ease;

	--swiper-navigation-color: var(--dar-gray);
	--swiper-pagination-color: var(--primary);
}

::placeholder {
	color: #666;
}

::selection {
	background-color: var(--secondary);
	color: #fff;
}

input,
textarea {
	outline: none;

	&:focus:required:invalid {
		border-color: var(--red);
	}

	&:required:valid {
		border-color: var(--green);
	}
}

::-webkit-scrollbar {
	width: 10px;

	&-track {
		background-color: #F0EAE2;
	}

	&-thumb {
		border-radius: 5px;
		background-color: var(--secondary);

		&:hover {
			background-color: var(--secondary);
		}
	}
}

body {
	font-family: var(--userfont);
	font-size: var(--fontsize);
	line-height: var(--lineheight);
	color: var(--textcolor);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	background-color: var(--bgbody);
}

a {
	color: var(--secondary);
	text-decoration: none;
	transition: var(--transition);

	&:hover {
		color: var(--primary);
	}
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
	color: var(--black);
	font-family: 'Pfhandbook';
	line-height: 1;
	margin-bottom: 0;
}

h1,
.h1 {
	// font-size: 44px;
	@include font-size(44px);
	color: var(--primary);
	text-transform: uppercase;
}

h2,
.h2 {
	// font-size: 40px;
	@include font-size(40px);
	color: var(--primary);
	text-transform: uppercase;
}

h3,
.h3 {
	// font-size: 24px;
	@include font-size(24px);
}

h3,
.h3 {
	// font-size: 22px;
	@include font-size(22px);
}

img {
	max-width: 100%;
	height: auto;
}

.svg-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	fill: currentColor;
}

// buttons

.btn {
	--bs-btn-padding-x: 24px;
	--bs-btn-padding-y: 10px;
	--bs-btn-font-family: 'Avenir';
	--bs-btn-font-size: 1rem;
	--bs-btn-font-weight: 400;
	--bs-btn-line-height: 1.5;
	--bs-btn-color: #212529;
	--bs-btn-bg: transparent;
	--bs-btn-border-width: 1px;
	--bs-btn-border-color: transparent;
	--bs-btn-border-radius: 20px;
	--bs-btn-hover-border-color: transparent;
	--bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
	--bs-btn-disabled-opacity: 0.65;
	--bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
	display: inline-block;
	padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
	font-family: var(--bs-btn-font-family);
	font-size: var(--bs-btn-font-size);
	font-weight: var(--bs-btn-font-weight);
	line-height: var(--bs-btn-line-height);
	color: var(--bs-btn-color);
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
	border-radius: var(--bs-btn-border-radius);
	background-color: var(--bs-btn-bg);
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary {
	--bs-btn-color: #fff;
	--bs-btn-bg: var(--primary);
	--bs-btn-border-color: var(--primary);
	--bs-btn-hover-color: var(--primary);
	--bs-btn-hover-bg: transparent;
	--bs-btn-hover-border-color: var(--primary);
	--bs-btn-focus-shadow-rgb: 49, 132, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: var(--primary);
	--bs-btn-active-border-color: var(--primary);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #0d6efd;
	--bs-btn-disabled-border-color: #0d6efd;
}

.btn-secondary {
	--bs-btn-color: #000;
	--bs-btn-bg: transparent;
	--bs-btn-border-color: var(--primary);
	--bs-btn-hover-color: #000;
	--bs-btn-hover-bg: transparent;
	--bs-btn-hover-border-color: var(--primary);
	--bs-btn-focus-shadow-rgb: 49, 132, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: var(--primary);
	--bs-btn-active-border-color: var(--primary);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #0d6efd;
	--bs-btn-disabled-border-color: #0d6efd;
}

.btn-collapse {
	--bs-btn-color: #000;
	--bs-btn-bg: transparent;
	--bs-btn-border-color: var(--primary);
	--bs-btn-hover-color: #000;
	--bs-btn-hover-bg: transparent;
	--bs-btn-hover-border-color: var(--primary);
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: var(--primary);
	--bs-btn-active-border-color: var(--primary);
	background: url(../img/arrow-up-short.svg) no-repeat right 10px center transparent;
	padding: 10px 34px 10px 24px;
	&.collapsed {
		background: url(../img/arrow-down-short.svg) no-repeat right 10px center transparent;
	}
}

/* header */
.header,
.footer {
	background-color: $primary;
	color: #fff;
	font-size: 15px;
	a {
		color: #fff;
		text-decoration: none;

		&+span {
			color: var(--dar-gold);
			padding-left: 10px;
		}

		&:hover {
			// text-decoration: underline;
		}

		&[href^="tel:"] {
			background: url(../img/phone_ico.svg) center left no-repeat;
			padding-left: 25px;
		}

		&[href^="mailto:"] {
			background: url(../img/mail_ico.svg) center left no-repeat;
			padding-left: 25px;
		}
	}
	.social-block {
		display: flex;
		@media (min-width: $lg) {
            justify-content: center;
        }
		a {
			width: 24px;
			height: 24px;
			margin: 5px;
		}
	}
}
.header {
	.btn-primary {
		--bs-btn-color: var(--primary);
		--bs-btn-bg: #fff;
		--bs-btn-border-color: var(--dar-devider);
		--bs-btn-hover-color: #fff;
		--bs-btn-hover-bg: var(--dar-devider);
		--bs-btn-hover-border-color: var(--dar-devider);
	}
}
.footer {
	.social-block {
        justify-content: left;
	}
	.nav {
		--bs-nav-link-color: #fff;
		--bs-nav-link-hover-color: var(--dar-gold);
		--bs-nav-link-padding-y: .25rem;
	}
	.copyright {
		font-size: 12px;
		text-align: center;
		@media (min-width: $lg) {
			font-size: 14px;
		}
	}
}

.main-menu {
	--bs-nav-link-font-size: 16px;
	--bs-nav-link-padding-x: 5px;
	--bs-nav-link-padding-y: 12px;
	--bs-nav-link-color: #fff;
	--bs-nav-link-hover-color: var(--dar-gold);
	.nav-item {
		.nav-link {
			border-right: 1px solid var(--dar-devider);
			&.active {
				color: var(--dar-gold);
			}
		}
		&:last-child .nav-link {
			border: none;
		}
		&:first-child .nav-link {
			padding-left: 0;
    		text-align: left;
		}
	}
}
.dropdown-menu {
	--bs-dropdown-zindex: 1000;
	--bs-dropdown-min-width: 10rem;
	--bs-dropdown-padding-x: 0;
	--bs-dropdown-padding-y: 0;
	--bs-dropdown-spacer: 0.125rem;
	--bs-dropdown-font-size: 1rem;
	--bs-dropdown-color: #fff;
	--bs-dropdown-bg: var(--primary);
	--bs-dropdown-border-color: var(--primary);
	--bs-dropdown-border-radius: 0;
	--bs-dropdown-border-width: 1px;
	--bs-dropdown-inner-border-radius: 0;
	--bs-dropdown-divider-bg: var(--bs-border-color-translucent);
	--bs-dropdown-divider-margin-y: 0.5rem;
	--bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	--bs-dropdown-link-color: #fff;
	--bs-dropdown-link-hover-color: var(--dar-gold);
	--bs-dropdown-link-hover-bg: transparent;
	--bs-dropdown-link-active-color: var(--dar-gold);
	--bs-dropdown-link-active-bg: transparent;
	--bs-dropdown-link-disabled-color: #adb5bd;
	--bs-dropdown-item-padding-x: 1rem;
	--bs-dropdown-item-padding-y: 0.25rem;
	position: absolute;
	z-index: var(--bs-dropdown-zindex);
	display: none;
	min-width: var(--bs-dropdown-min-width);
	padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
	margin: 0;
	font-size: var(--bs-dropdown-font-size);
	color: var(--bs-dropdown-color);
	text-align: left;
	list-style: none;
	background-color: var(--bs-dropdown-bg);
	background-clip: padding-box;
	border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
	border-radius: var(--bs-dropdown-border-radius);
	.dropdown-item.active {
		color: var(--dar-gold);
	}
}

.offcanvas {
	--bs-offcanvas-color: #fff;
	--bs-offcanvas-bg: var(--primary);
}
.offcanvas-menu {
	--bs-nav-link-font-size: 16px;
	--bs-nav-link-padding-x: 24px;
	--bs-nav-link-padding-y: 16px;
	--bs-nav-link-color: #fff;
	--bs-nav-link-hover-color: var(--dar-gold);
	.nav-item {
		text-align: center;
		.nav-link {
			color: #fff;
		}
	}
}

// toggler
.menu-btn {
	width: 36px;
	transform: translate(-50%,-50%);  
	z-index: 9999;
}
.menu-btn:before,
.menu-btn:after {
	background-color: #fff;
	content: '';
	display: block;
	height: 4px;
	transition: all 200ms ease-in-out;
}
.menu-btn:before {
	box-shadow: 0 10px 0 #fff;
	margin-bottom: 16px;
}
.menu-btn.active:before {
	box-shadow: 0 0 0 #fff;
	transform: translateY(10px) rotate(45deg);
}
.menu-btn.active:after{
	transform: translateY(-10px) rotate(-45deg);
}

.modal {
	--bs-modal-zindex: 1055;
	--bs-modal-width: 500px;
	--bs-modal-padding: 1rem;
	--bs-modal-margin: 0.5rem;
	--bs-modal-color: ;
	--bs-modal-bg: #fff;
	--bs-modal-border-color: var(--bs-border-color-translucent);
	--bs-modal-border-width: 1px;
	--bs-modal-border-radius: 0;
	--bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	--bs-modal-inner-border-radius: calc(0.5rem - 1px);
	--bs-modal-header-padding-x: 1rem;
	--bs-modal-header-padding-y: 1rem;
	--bs-modal-header-padding: 1rem 1rem 0 1rem;
	--bs-modal-header-border-color: var(--bs-border-color);
	--bs-modal-header-border-width: 0;
	--bs-modal-title-line-height: 1.5;
	--bs-modal-footer-gap: 0.5rem;
	--bs-modal-footer-bg: ;
	--bs-modal-footer-border-color: var(--bs-border-color);
	--bs-modal-footer-border-width: 1px;
}
/* highlite click */
.animate-pulse {
	animation: animate_pulse 1.5s infinite;
}
 
.animate-pulse:hover {
	animation: none;
}
 
@keyframes animate_pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(228, 25, 49, 0.4);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(228, 25, 49, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
	}
}

.card {
	--bs-card-spacer-y: 24px;
	--bs-card-spacer-x: 24px;
	--bs-card-title-spacer-y: 24px;
	// --bs-card-title-color: #{$card-title-color};
	// --bs-card-subtitle-color: #{$card-subtitle-color};
	// --bs-card-border-width: #{$card-border-width};
	// --bs-card-border-color: #{$card-border-color};
	--bs-card-border-radius: 0;
	// --bs-card-box-shadow: #{$card-box-shadow};
	--bs-card-inner-border-radius: 0;
	// --bs-card-cap-padding-y: #{$card-cap-padding-y};
	// --bs-card-cap-padding-x: #{$card-cap-padding-x};
	// --bs-card-cap-bg: #{$card-cap-bg};
	// --bs-card-cap-color: #{$card-cap-color};
	// --bs-card-height: #{$card-height};
	// --bs-card-color: #{$card-color};
	--bs-card-bg: transparent;
	// --bs-card-img-overlay-padding: #{$card-img-overlay-padding};
	// --bs-card-group-margin: #{$card-group-margin};
}

.accordion {
	// --bs-accordion-color: #{$accordion-color};
	// --bs-accordion-bg: #{$accordion-bg};
	// --bs-accordion-transition: #{$accordion-transition};
	// --bs-accordion-border-color: #{$accordion-border-color};
	// --bs-accordion-border-width: #{$accordion-border-width};
	--bs-accordion-border-radius: 0;
	--bs-accordion-inner-border-radius: 0;
	// --bs-accordion-btn-padding-x: #{$accordion-button-padding-x};
	// --bs-accordion-btn-padding-y: #{$accordion-button-padding-y};
	--bs-accordion-btn-color: var(--primary);
	// --bs-accordion-btn-bg: #{$accordion-button-bg};
	// --bs-accordion-btn-icon: #{escape-svg($accordion-button-icon)};
	// --bs-accordion-btn-icon-width: #{$accordion-icon-width};
	// --bs-accordion-btn-icon-transform: #{$accordion-icon-transform};
	// --bs-accordion-btn-icon-transition: #{$accordion-icon-transition};
	// --bs-accordion-btn-active-icon: #{escape-svg($accordion-button-active-icon)};
	// --bs-accordion-btn-focus-border-color: #{$accordion-button-focus-border-color};
	--bs-accordion-btn-focus-box-shadow: none;
	// --bs-accordion-body-padding-x: #{$accordion-body-padding-x};
	// --bs-accordion-body-padding-y: #{$accordion-body-padding-y};
	--bs-accordion-active-color: var(--primary);
	--bs-accordion-active-bg: transparent;
	.accordion-button {
		font-family: 'Avenir';
		font-size: 16px;
		font-weight: bold;
	}
}

.breadcrumb {
	// --bs-breadcrumb-padding-x: #{$breadcrumb-padding-x};
	--bs-breadcrumb-padding-y: 16px;
	--bs-breadcrumb-margin-bottom: 0;
	--bs-breadcrumb-font-size: 16px;
	--bs-breadcrumb-bg: transparent;
	// --bs-breadcrumb-border-radius: #{$breadcrumb-border-radius};
	// --bs-breadcrumb-divider-color: #{$breadcrumb-divider-color};
	// --bs-breadcrumb-item-padding-x: #{$breadcrumb-item-padding-x};
	--bs-breadcrumb-item-active-color: var(--primary);
	a {
		color: var(--dar-gray);
		&:hover {
			color: #000;
		}
	}
}