@import "variables";

/* GENERAL CSS SETTINGS */
::placeholder {
    color: #666;
}
::selection {
    background-color: var(--accent);
    color: #fff;
}

input, textarea {
    outline: none;
    &:focus:required:invalid {
        border-color: var(--red);
    }
    &:required:valid {
        border-color: var(--green);
    }
}

::-webkit-scrollbar {
    width: 10px;
    &-track {
      background-color: #F0EAE2;
    }
    &-thumb {
      border-radius: 5px;
      background-color: var(--secondary);
      &:hover {
        background-color: var(--secondary);
      }
    }
  }

body {
    font-family: var(--userfont);
    font-size: var(--fontsize);
    line-height: var(--lineheight);
    color: var(--textcolor);
    min-width: 320px;
    position: relative;
    overflow-x: hidden;
    background-color: var(--bgbody);
}

a {
    color: var(--accent);
    text-decoration: none;
    transition: var(--transition);
    &:hover {
        color: var(--textcolor);
    }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
    color: var(--black);
}

img {
    max-width: 100%;
    height: auto;
}
.svg-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    fill: currentColor;
}

// Подключение своих SCSS файлов
.header, .footer {
    background-color: $primary;
    color: #fff;
    a {
        color: #fff;
        text-decoration: none;
        &+span {
            color: var(--dar-gold);
        }
        &:hover {
            text-decoration: underline;
        }
    }
}
.main {
    min-height: 1200px;
}
.main-header {
    height: 505px;
    background-image: url(../img/main_top_back.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .title-block {
        h1+p {
            color: var(--dar-pink);
            // @include font-size(20px);
            font-size: 20px;
            text-transform: uppercase;
        }        
    }
}

/* navbar */
.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0;
    --bs-navbar-color: #fff;
    --bs-navbar-hover-color: var(--dar-gold);
    --bs-navbar-active-color: var(--dar-gold);
    --bs-navbar-nav-link-padding-x: 10px;
    .navbar-nav {
        --bs-nav-link-padding-x: 5px;
        --bs-nav-link-padding-y: 12px;
        .nav-item {
            // @include media-breakpoint-up(lg) {
            //     .nav-link {
            //         border-right: 1px solid var(--dar-devider);
            //     }
            //     &:last-child .nav-link {
            //         border: none;
            //     }                
            // }
            @media (min-width: $lg) {
                .nav-link {
                    border-right: 1px solid var(--dar-devider);
                }
                &:last-child .nav-link {
                    border: none;
                } 
            }

        } 
    }
}
.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-color: #fff;
    --bs-dropdown-bg: var(--primary);
    --bs-dropdown-border-color: var(--primary);
    --bs-dropdown-border-radius: 0;
    --bs-dropdown-border-width: 1px;
    --bs-dropdown-inner-border-radius: 0;
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-dropdown-link-color: #fff;
    --bs-dropdown-link-hover-color: var(--dar-gold);
    --bs-dropdown-link-hover-bg: transparent;
    --bs-dropdown-link-active-color: var(--dar-gold);
    --bs-dropdown-link-active-bg: transparent;
    --bs-dropdown-link-disabled-color: #adb5bd;
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    position: absolute;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: var(--bs-dropdown-min-width);
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-dropdown-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
    li {
        .dropdown-item {
            border-bottom: 1px solid var(--dar-devider);
        }
        &:last-child .dropdown-item {
            border: none; 
        }  
    }
  
}
